[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygsheets = "*"
pandas = "*"
numpy = "*"
mintotp = "*"
google-auth = "*"

[dev-packages]
flake8 = "*"
mypy = "*"
mypy-extensions = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
black = "*"
pandas-stubs = "*"
types-requests = "*"
types-python-dateutil = "*"
google-auth-stubs = "*"

[requires]
python_version = "3.12.1"
