[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygsheets = "*"
mintotp = "*"
google-auth = "*"
pyyaml = "*"
plotly = "*"
flask = "*"
gunicorn = "*"
pandas = "==2.3.0"
numpy = "==2.3.1"
pytz = "*"
rsa = "*"

[dev-packages]
flake8 = "*"
mypy = "*"
mypy-extensions = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
black = "*"
pandas-stubs = "*"
types-requests = "*"
types-python-dateutil = "*"
google-auth-stubs = "*"
types-pyyaml = "*"

[requires]
python_version = "3.12.1"
