[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mintapi = {ref = "v2", git = "https://github.com/kandluis/mintapi"}
pygsheets = "*"
pandas = "*"
python-dotenv = "*"
numpy = "*"

[dev-packages]
flake8 = "*"
mypy = "*"
mypy-extensions = "*"
"aws-cdk.aws-lambda" = "*"
"aws-cdk.aws-events-targets" = "*"
"aws-cdk.aws-events" = "*"
"aws-cdk.core" = "*"

[requires]
python_version = "3.8.10"
